@import "./font.css";
@import "./variables.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

ul {
  list-style-type: none;
}

.sidebar {
  position: fixed;
  padding: 10px 100px 10px 10px;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: var(--primary-color);
}
.sidebar a {
  text-decoration: none;
}
.sidebar .logo {
  color: white;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 30px;
}
.sidebar .logo svg {
  width: 50px;
  height: 50px;
}
.sidebar .nav-link {
  color: white;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 0;
}
.sidebar .nav-link svg {
  width: 20px;
  height: 20px;
  margin: 0 15px;
}
.sidebar .nav-link:nth-child(6) {
  margin-bottom: 30px;
}
.sidebar .nav-link img {
  margin: 0 15px;
}
